header
    div.position-sticky
        div.px-3.py-2.text-bg-dark.border-bottom
            div.container
                div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                    ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small
                        //- Home
                        li
                            a.nav-link.text-primary.rounded.px-4.py-3.position-relative.d-flex.align-items-center.transition(href='/')
                                svg.bi.d-block.mx-auto.mb-1(width='24', height='24')
                                h4.menu-text Home
                        //- Guilds
                        li
                            a.nav-link.text-primary.rounded.px-4.py-3.position-relative.d-flex.align-items-center.transition(href='/servers')
                                svg.bi.d-block.mx-auto.mb-1(width='24', height='24')
                                span.menu-text Guilds
                        //- Cards
                        li
                            a.nav-link.text-primary.rounded.px-4.py-3.position-relative.d-flex.align-items-center.transition(href='/cards')
                                svg.bi.d-block.mx-auto.mb-1(width='24', height='24')
                                span.menu-text Cards
                        if user
                            if user.isManager
                                //- Custom Commands
                                li
                                    a.nav-link.text-primary.rounded.px-4.py-3.position-relative.d-flex.align-items-center.transition(href='/commands')
                                        svg.bi.d-block.mx-auto.mb-1(width='24', height='24')
                                        span.menu-text Custom Commands
                                //- Log
                                li
                                    a.nav-link.text-primary.rounded.px-4.py-3.position-relative.d-flex.align-items-center.transition(href='/messages')
                                        svg.bi.d-block.mx-auto.mb-1(width='24', height='24')
                                        span.menu-text Log
                    //- Login / User Dropdown
                    div.text-end.ms-auto
                        if loginLink
                            a.btn.btn-primary.px-4.py-2.shadow.transition(href=`${loginLink}`) Login
                        if user
                            div.dropdown
                                button.btn.btn-outline-primary.px-4.py-3.shadow.dropdown-toggle.transition(
                                    type="button",
                                    data-bs-toggle="dropdown",
                                    aria-expanded="false")
                                    img(src='https://cdn.discordapp.com/avatars/' + user.id + '/' + user.avatar + '.webp?size=48', alt="No avatar", class='rounded-circle me-2')
                                    | #{user.username}
                                ul.dropdown-menu
                                    li
                                        a.dropdown-item(href="/profile") Profile
                                    li
                                        a.dropdown-item(href="/logout") Logout
