extends layout

block content

  //- Page Header
  p.h2.text-primary.text-center= title + ' (' + totalCount + ')'

  include includes/datepicker-user-message.pug

  //- Messages Table
  table.table.table-dark.table-striped.table-hover
    thead
      tr
        th(scope='col') #
        th(scope='col') User
        th(scope='col') Message
        th(scope='col') Time

    tbody
      if messages.length
        each message, index in messages
          tr
            td #{(page - 1) * pageSize + index + 1}
            td.width-15 #{message.author.name}
            td.break-all #{message.content}
            td.width-15 #{message.createdAt}
      else
        tr
          td(colspan="4").text-center No messages found

  //- Pagination Controls
  if totalPages > 1
    -
      const maxPages = 10
      let start = Math.max(1, page - Math.floor(maxPages / 2))
      let end = start + maxPages - 1
      if (end > totalPages) {
        end = totalPages
        start = Math.max(1, end - maxPages + 1)
      }
      const pages = []
      for (let i = start; i <= end; i++) pages.push(i)

    nav.mt-4
      ul.pagination.justify-content-center
        if page > 1
          li.page-item
            a.page-link(
              href=`?from=${from || ''}&to=${to || ''}&username=${username || ''}&command=${command || ''}&page=${page - 1}`
            ) Previous
        else
          li.page-item.disabled
            span.page-link Previous

        each i in pages
          if i === page
            li.page-item.active
              span.page-link #{i}
          else
            li.page-item
              a.page-link(
                href=`?from=${from || ''}&to=${to || ''}&username=${username || ''}&command=${command || ''}&page=${i}`
              ) #{i}

        if page < totalPages
          li.page-item
            a.page-link(
              href=`?from=${from || ''}&to=${to || ''}&username=${username || ''}&command=${command || ''}&page=${page + 1}`
            ) Next
        else
          li.page-item.disabled
            span.page-link Next

  //- Extra spacing at bottom to avoid footer overlap
  .my-5
  p &nbsp;
  p &nbsp;

