extends layout

block content
  .page-hero
    h2.page-title= title
    p.page-subtitle Configure role-based command and attachment limits.

  form.content-panel(method="post" action="/roles")
    if _csrf
      input(type="hidden" name="_csrf" value=_csrf)

    .panel-header
      .panel-title-group
        span.panel-icon(aria-hidden="true")
          svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M20 13c0 5-3.5 7.5-7.7 8.9a1 1 0 0 1-.6 0C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.2-2.6a1.3 1.3 0 0 1 1.6 0C14.5 3.8 17 5 19 5a1 1 0 0 1 1 1z")
            path(d="M9 12l2 2 4-4")
        h3.panel-title Access Rules
      span.panel-kicker 0 means unlimited
    .data-table-wrap
      table.data-table.align-middle
        thead
          tr
            th(scope="col") Role
            th(scope="col") Daily commands
            th(scope="col") Commands per hour
            th(scope="col") Daily deck screenshots
            th(scope="col") Attachment limit
        tbody
          each item in roles
            tr
              td
                strong #{item.label}
                div.text-secondary.small #{item.description}
              td
                input.form-control(
                  type="number"
                  min="0"
                  max="100000"
                  name=`${item.role}_dailyCommandLimit`
                  value=item.rules.dailyCommandLimit
                )
              td
                input.form-control(
                  type="number"
                  min="0"
                  max="100000"
                  name=`${item.role}_hourlyCommandLimit`
                  value=item.rules.hourlyCommandLimit
                )
              td
                input.form-control(
                  type="number"
                  min="0"
                  max="100000"
                  name=`${item.role}_dailyDeckScreenshotLimit`
                  value=item.rules.dailyDeckScreenshotLimit
                )
              td
                input.form-control(
                  type="number"
                  min="0"
                  max="100000"
                  name=`${item.role}_attachmentLimit`
                  value=item.rules.attachmentLimit
                )

    .d-flex.justify-content-end.p-3
      button.btn.btn-primary(type="submit") Save

  p.text-secondary.mt-3 0 means unlimited.
