extends layout

block content

  .sticky-page-head
    .page-hero
      h2.page-title= title
      p.page-subtitle #{servers.length} connected guilds

  .content-panel.data-panel-page
    .panel-header
      .panel-title-group
        span.panel-icon(aria-hidden="true")
          svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            rect(width="16" height="16" x="4" y="4" rx="2")
            path(d="M9 9h6")
            path(d="M9 15h6")
        h3.panel-title Guild Directory
    table.data-table(data-sortable)
      thead
        tr
          th.rank-col(scope='col' data-sort-type='number') #
          th(scope='col') Icon
          th(scope='col' data-sort-type='text') Name
          th(scope='col' data-sort-type='number') Members
          th(scope='col' data-sort-type='date') Created
          th(scope='col' data-sort-type='date') Bot Joined
      tbody
        each server, index in servers
          tr
            th.rank-col(scope='row' data-sort-value=index + 1)
              span.rank-badge= index+1
            td
              img.server-icon(src=server[0], alt="No icon")
            td(data-sort-value=server[1])= server[1]
            td(data-sort-value=server[2])= server[2]
            td(data-sort-value=server[3])= server[3]
            td(data-sort-value=server[4])= server[4]
  p &nbsp;
  p &nbsp;

  script(src="/static/sortable-table.js")

