extends layout

block content

  p.h2.text-primary.text-center= title + '(' + synonyms.length + ')'

  table.table.table-dark.table-striped.table-hover
    thead
      tr
        th(scope='col') #
        th(scope='col') Key
        th(scope='col') Value
    tbody
      each synonym, index in synonyms
        tr
          td= index+1
          each value in synonym
            if value[0] === '{'
              - let obj = JSON.parse(value)
              td
                if obj.content
                  - let htmlContent = obj.content.replaceAll('\n', '<br>')
                  p!= htmlContent
                if obj.files && obj.files.length
                  ul
                    each file in obj.files
                      li: a(href=file target="_blank")= file
            else if value !== synonym.id
              td= value
  p &nbsp;
  p &nbsp;
